[Unit]
Description=uWSGI instance to serve app_test
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
WorkingDirectory={{ project_dir }}
Environment="PATH={{ env }}/bin"
ExecStart={{ env }}/bin/uwsgi --ini {{ project_dir }}/apps.ini

[Socket]
ListenStream={{ project_dir }}/app.socket
SocketUser=ubuntu
SocketGroup=ubuntu
SocketMode=0660

[Install]
WantedBy=multi-user.target