[Unit]
Description=uWSGI instance to serve app_test
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
WorkingDirectory={{ project_dir }}
Environment="PATH={{ env }}/bin"
ExecStart={{ env }}/bin/uwsgi --ini {{ project_dir }}/apps.ini

[Install]
WantedBy=multi-user.target